#nav
    ul
        margin .25em 0 0 0
        padding 0
        &:nth-child(1)
            margin 0
        ul
            display none
            margin 8px 0 24px
            margin-left 10px
        .top-level.active + ul
            display block