*, html, body
    font-family Roboto, Helvetica, Arial, sans-serif
    font-size 16px
    font-size 1em

pre, code
    font-family Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", 
"Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
"Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace

figcaption
    font-size small
    font-style italic
    color #6c5f7c

#sidebar, #footer
    color #ffffff

h1
    font-size 5.063em
    font-weight 200
    margin 3em 0 1em

h2
    font-size 3.375em
    font-weight 200
    margin 2.75em 0 .75em

h3
    font-size 2.25em
    font-weight 200
    margin 2em 0 .5em

h4
    font-size 1.5em
    opacity 0.6
    margin 1.75em 0 .25em

p
    margin 0 0 1em

ul, ol
    margin 1.75em 0 .75em 1em
    li
        margin 0 0 .5em

a
    text-decoration underline
    color #52cefb
    &:hover
        text-decoration none

#nav
    ul
        margin 0
        font-weight 700
        li
            color #fff
            text-decoration none
            display block
            margin 0
            padding 5px 0
        &:hover
            color #d2f3ff
            cursor pointer
        ul
            margin 0
            font-weight 200
            .current-page
                font-weight 700
                a
                    &:after
                        content "→"
                        display inline-block
                        margin-left 5px
    a
        color #52cefb
        text-decoration none
        display block
        margin 0
        padding 5px 0
        &:hover
            color #d2f3ff
            cursor pointer

#branding
    h1
        font-size 22px
        margin 0

#header
    h2
        margin 0

.inner-wrap
    h3
        margin-top 0

figcaption
    font-size 12px
    font-weight 700
    font-style italic
    color #9da0a4
    line-height 1.5em

#footer
    .small-text
        font-size 12px
        opacity 0.7
        a
            opacity 1